#title{
    -fx-text-fill: #000;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.hyperlink{
    -fx-border-width:0 0 2 0;
    -fx-font-size:16;
    -fx-border-style: solid;
}

.text-field{
    -fx-pref-width: 200;
}